<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.test.mapper.BookMapper" >
  <resultMap id="BaseResultMap" type="com.zking.test.model.Book" >
    <constructor >
      <idArg column="book_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="book_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="book_price" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="book_brief" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>

  <resultMap id="row" type="com.zking.test.model.Book">
    <id column="book_id" property="bookId" javaType="java.lang.Integer"/>
    <result column="book_name" property="bookName" javaType="java.lang.String"/>
    <result column="book_price" property="bookPrice" javaType="java.lang.Float"/>
    <result column="book_brief" property="bookBrief" javaType="java.lang.String"/>
  </resultMap>



  <sql id="Base_Column_List" >
    book_id, book_name, book_price, book_brief
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_book
    where book_id = #{bookId,jdbcType=INTEGER}
  </select>


  <select id="load" resultMap="BaseResultMap">
   select <include refid="Base_Column_List"/> from t_book
<where>
     <if test="bookName!=null">and  book_name like concat('%',#{bookName},'%')</if>
     <if test="bookPrice!=null"> and book_price like concat('%',#{bookPrice},'%')</if>
</where>
  </select>




  <select id="select2" resultMap="row">
    select <include refid="Base_Column_List"/> from t_book
    <where>
      <choose>
        <when test="bookName!=null">book_name like concat('%',#{bookName},'%')</when>
        <when test="bookPrice!=null">book_price like concat('%',#{bookPrice},'%')</when>
      </choose>
    </where>
  </select>



  <select id="singSelcet" resultMap="row">
    select <include refid="Base_Column_List"/> from t_book
    <where>
      <if test="bookId!=null">book_id=#{bookId}</if>
    </where>
  </select>


  <select id="selectAll" resultType="java.util.Map">
    select *from t_book
  </select>


  <select id="selectThere" resultType="map">
    select book_id as bookId,book_name as bookName,book_price as bookPrice,book_brief as bookBrief from t_book where book_id=${bookId}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_book
    where book_id = #{bookId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.test.model.Book" >
    insert into t_book (book_id, book_name, book_price, 
      book_brief)
    values (#{bookId,jdbcType=INTEGER}, #{bookName,jdbcType=VARCHAR}, #{bookPrice,jdbcType=REAL}, 
      #{bookBrief,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.test.model.Book" >
    insert into t_book
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bookId != null" >
        book_id,
      </if>
      <if test="bookName != null" >
        book_name,
      </if>
      <if test="bookPrice != null" >
        book_price,
      </if>
      <if test="bookBrief != null" >
        book_brief,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bookId != null" >
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="bookName != null" >
        #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookPrice != null" >
        #{bookPrice,jdbcType=REAL},
      </if>
      <if test="bookBrief != null" >
        #{bookBrief,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.test.model.Book" >
    update t_book
    <set >
      <if test="bookName != null" >
        book_name = #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookPrice != null" >
        book_price = #{bookPrice,jdbcType=REAL},
      </if>
      <if test="bookBrief != null" >
        book_brief = #{bookBrief,jdbcType=VARCHAR},
      </if>
    </set>
    where book_id = #{bookId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.test.model.Book" >
    update t_book
    set book_name = #{bookName,jdbcType=VARCHAR},
      book_price = #{bookPrice,jdbcType=REAL},
      book_brief = #{bookBrief,jdbcType=VARCHAR}
    where book_id = #{bookId,jdbcType=INTEGER}
  </update>


  <!--修改-->
  <update id="update">
    update t_book
    <set>
      <if test="bookName!=null">book_name=#{bookName},</if>
      <if test="bookPrice!=null">book_price=#{bookPrice},</if>
    </set>
    where book_id=#{bookId}
  </update>
</mapper>